# autotools auxilary files
*.m4
autom4te.cache
compile
stamp-h1

*.mps
*.o
*.gz
*.int


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# emacs backup files
*~

# external projects
/BuildTools/*
/CoinUtils/*
/Osi/*
/OsiConic/*
/Clp/*
/build/*
/Data/*
/ThirdParty/*
